<div class = "container">
	<h1>Your Sessions </h1>
	<hr>
	<div class = "sessions">
		<% @sessions.each do |session| %>
			<h3>Session Id: <%= session.id %></h3>
			<ul>
				<%session.topics.each_with_index do |topic, i| %>
					<li>Topic <%= i + 1 %>: <%=topic.name%> </li>
				<% end %>
				<li>Availability: <%=session.availability%></li>
				<li>Additional Info: <%=session.additional_info %></li>
			</ul>
			<hr>
		<% end %>
		
	</div>
</div>