
<h3>Choose an available section to mentor</h3>
<%= form_tag(new_jenroll_path) do |f| %>
  <div class="form-group">
    <label for="mentor-pass">Password</label>
    <%= password_field_tag :pass, nil, :class=> "form-control", :id => "mentor-pass", :placeholder => "Mentor Password"%>
  </div>


  <label><%= check_box_tag 'sm?'%> Check if enrolling as a senior mentor.</label>
  <table class="table">
    <thead>
      <tr>
        <th>  </th>
        <th> Section Name </th>
        <th> Day </th>
        <th> Time </th>
        <th> Location </th>
      </tr>
    </thead>
    <tbody>
      <% @sections.each do |section| %>
        <tr>
          <td> <%= radio_button_tag :section_id, section.id %> </td>
          <td> <%= section.name %> </td>
          <td> <%= section.date %> </td>
          <td> <% if section.start and section.end %>
            <%= section.start.strftime("%I:%M %p") %>-<%= section.end.strftime("%I:%M %p") %>
          <% end %> </td>
          <td> <%= section.location %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class = "actions" style = "margin-top: 10px">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
     <i class='fa fa-plus'></i> Add
    <% end %>
  </div>
<% end %>


