<div id="loginModal" class="modal show" style="position:relative; overflow:auto;">
  <div class="modal-dialog">
  
    <div class="modal-content">
        <div class="modal-header">
          <%= link_to (image_tag "new-csm-logo.png", class: "img-responsive"),  new_user_session_path%>
        </div>
        <div class="modal-body">
          

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form center-block"}) do |f| %>
            <%= devise_error_messages! %>

            <div class = "form-group">
              <div class="field">
                <%= f.text_field :name, autofocus: true, placeholder: "Name", :class => "form-control input-lg" %>
              </div>
            </div>

            <div class = "form-group">
              <div class="field">
                <%= f.email_field :email, autofocus: true, placeholder:"Email", :class => "form-control input-lg" %>
              </div>
            </div>

            <div class = "form-group">
              <div class="field">
                <% if @minimum_password_length 
                 @text = "(#{@minimum_password_length} characters minimum)"
               else
                  @text = ""
                 end %>
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password " + @text, :class => "form-control input-lg" %>
              </div>
            </div>

            <div class = "form-group">
              <div class="field">              
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", :class => "form-control input-lg" %>
              </div>
            </div>

            <div class = "form-group">
              <div class="actions">
                <%= f.submit "Sign up", :class => "btn btn-lg btn-block btn-success" %>
              </div>
            </div>
          <% end %>
          
        </div>

        

        <div class="modal-footer">
           <div class <div class="col-md-12">
            </div>  
        </div>
      </div>
    </div>
  </div>
</div>

