<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Section Information</h1>
    Hello! Here is your section information:
    <ul>
    <li><b>Section:</b> <%= @section.name %></li>
    <li><b>Mentor:</b> <%= @section.mentor %> (<%= mail_to @section.mentor_email %>) </li>
    <li><b>Location:</b> <%= @section.location %> </li>
    <li><b>Time:</b> <%= @section.start.strftime("%I:%M %p") %>-<%= @section.end.strftime("%I:%M %p") %> </li>
    </ul>
    <b>Please attend section the first week</b>, otherwise you risk being dropped. <br> <br>
    <i>Note:</i> the location listed is your regular room, but the location on the first day may be different. If that's the case, your mentor will let you know where the first session will be held.
  </body>
</html>