<div class = "container">
    <h1>Manage Students</h1>
    <hr>
    <%= link_to "<i class='fa fa-plus'></i> Add User".html_safe, admin_new_student_path, :class => "btn btn-success" %>
    <div style = "margin-top:10px">
        <b>Total students</b>: <%= @students.length %>
    </div>
    <div>
        <b>Total course enrollments</b>: <%=  @total_course_enrollment %>
    </div>
    <div>
        <b>Total section enrollments</b>: <%=  @total_section_enrollment %>
    </div>
    <div class = "sections">
      <table class="table">
        <thead>
          <tr>
            <th> Actions </th>
            <th> Students </th>
          </tr>
        </thead>
        <tbody>
            <% @students.each do |student| %>
                <tr class="student-list">
                <td class="col-md-2">
                <div>
                <a class="btn btn-success" data-toggle="collapse" href="#coursecollapse<%=student.id%>"  href="#" role="button"><i class="fa fa-plus"></i></a> <a class="btn btn-warning"  data-toggle="collapse" href="#editcollapse<%=student.id%>"  role="button"><i class="fa fa-pencil-square-o"></i></a>
                </div>
                <div style="margin-top:5px">
                
                <%= link_to '<span class="btn btn-info" href="#" role="button"><i class="fa fa-user"></i></span>'.html_safe, admin_edit_student_path(student), method: :get %>
                <%= link_to '<span style="padding-right:15px"class="btn btn-danger" href="#" role="button"><i class="fa fa-times"></i></span>'.html_safe, admin_destroy_user_path(student), method: :delete, data: { confirm: "Are you sure you want to delete #{student.name}?" } %>
                </div>
                </td>
                <td>
                <h4 style="">
                 <%= student.name %>
                 </h4>
                
                <%= student.email %>

                <%= form_tag admin_add_course_path(student) do %>
                <br />
                <div class="panel collapse panel-default" id="coursecollapse<%=student.id%>">
                    <div class="panel-heading">Add course</div>
                    <div class="panel-body">
                <%
                exclude = []
                student.enrolls.each do |e|
                    exclude << e.course_id
                end
                possible_enroll = Course.where.not(id: exclude)
                %>
                <% if possible_enroll.length > 0 %>
                    <%= fields_for "course[]", @courses do |f| %>
                        <div class="field">
                        <div class="form-group">
                        <label>Course</label>
                            <%= f.select :name, possible_enroll.collect {|p|                             
                                [ p.course_name, p.id]
                                 },{}, {prompt: "Select one", class: "form-control"}%>
                        </div>
                        </div>
                        <%= submit_tag("Add", class: "btn btn-success") %>
                    <% end %>
                <% else %>
                No courses to add.
                 <% end %>
                <% end %>
                </div>
                </div>
                <div class="collapse" id="editcollapse<%=student.id%>">
                <table class="table" >
                        <thead>
                            <tr>
                                <th></th>
                                <th>Class</th>
                                <th>Section</th>
                            </tr>
                        
                        </thead>
                    <tbody>
                <% student.enrolls.each do |enroll| %>
                    
                    <tr>
                        <td class="col-md-1">
                         <%= link_to '<span data-toggle="tooltip" data-placement="bottom" title="Drop from class" class="btn btn-danger" href="#" role="button"><i class="fa fa-trash-o"></i></span>'.html_safe, admin_destroy_enroll_path(enroll), method: :delete, data: { confirm: "Are you sure?" } %>

                        </td>
                        <td class="col-md-1"><b><%= enroll.course.course_name %></b></td>
                        <td>
                            <% if enroll.section %>
                            <span><%= enroll.section.name.chomp %></span>
                            <% else %>
                            N/A
                            <% end %>
                        </td>
                        </tr>
                    
                <% end %>
                    </tbody>
                    </table>
                    <br />
                </div>
                </td>
                </tr>  
            <% end %>
        </tbody>
        </table>
    </div>
</div>