<div class="container">
  <h1>Manage Student Attendance</h1>
   <hr>

	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#home">CS61A</a></li>
	  <li><a data-toggle="tab" href="#61b">CS61B</a></li>
	  <li><a data-toggle="tab" href="#70">CS70</a></li>
	   <li><a data-toggle="tab" href="#16a">EE16A</a></li>
	  <li><a data-toggle="tab" href="#data8">Data 8</a></li>

	</ul>

	<div class="tab-content">
	  <div id="cs61a" class="tab-pane fade in active">
	   <table class="table">
		   	<thead>
		   		<th> Name </th>
		   		<th> Mentor </th>
		   		<th> Sections Attended </th>
		   		<th> Drop </th>
		   	</thead>
		   	<tbody>
				<% Section.where(course_id: 4).each do |section| %>
					<% section.enrolls.each do |enroll| %>
		   			<tr>
						<td>
							<%= User.find_by(id:enroll.user_id).name %>
						</td>
		   				<td> 
		   					<% if section.jenroll != nil %>
		   						<%= User.find_by(id:section.jenroll.user_id).name %> 
	   						<% elsif section.senroll != nil %>
	   							<%= User.find_by(id:section.senroll.user_id).name %> 
	   						<% end %>
		   				</td>
		   				<td> <%= enroll.attendances.count %> </td>
		   				<td> <%= button_to "Drop", { :controller => :admins, :action => :drop_student_from_section, :id => enroll.id}, { class: "btn btn-danger", :data => { :confirm => "Are you sure you want to drop this student? Please confirm"}} %> </td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	  </div>
	  <div id="61b" class="tab-pane fade">
	   <table class="table">
		   	<thead>
		   		<th> Name </th>
		   		<th> Mentor </th>
		   		<th> Sections Attended </th>
		   		<th> Drop </th>
		   	</thead>
		   	<tbody>
				<% Section.where(course_id: 2).each do |section| %>
					<% section.enrolls.each do |enroll| %>
		   			<tr>
						<td>
							<%= User.find_by(id:enroll.user_id).name %>
						</td>
		   				<td> 
		   					<% if section.jenroll != nil %>
		   						<%= User.find_by(id:section.jenroll.user_id).name %> 
	   						<% elsif section.senroll != nil %>
	   							<%= User.find_by(id:section.senroll.user_id).name %> 
	   						<% end %>
		   				</td>
		   				<td> <%= enroll.attendances.count %> </td>
		   				<td> <btn class="btn btn-danger"> Drop </btn> </td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	  </div>
	  <div id="70" class="tab-pane fade">
	   <table class="table">
		   	<thead>
		   		<th> Name </th>
		   		<th> Mentor </th>
		   		<th> Sections Attended </th>
		   		<th> Drop </th>
		   	</thead>
		   	<tbody>
				<% Section.where(course_id: 1).each do |section| %>
					<% section.enrolls.each do |enroll| %>
		   			<tr>
						<td>
							<%= User.find_by(id:enroll.user_id).name %>
						</td>
		   				<td> 
		   					<% if section.jenroll != nil %>
		   						<%= User.find_by(id:section.jenroll.user_id).name %> 
	   						<% elsif section.senroll != nil %>
	   							<%= User.find_by(id:section.senroll.user_id).name %> 
	   						<% end %>
		   				</td>
		   				<td> <%= enroll.attendances.count %> </td>
		   				<td> <btn class="btn btn-danger"> Drop </btn> </td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	  </div>
	  <div id="16a" class="tab-pane fade">
	   <table class="table">
		   	<thead>
		   		<th> Name </th>
		   		<th> Mentor </th>
		   		<th> Sections Attended </th>
		   		<th> Drop </th>
		   	</thead>
		   	<tbody>
				<% Section.where(course_id: 5).each do |section| %>
					<% section.enrolls.each do |enroll| %>
		   			<tr>
						<td>
							<%= User.find_by(id:enroll.user_id).name %>
						</td>
		   				<td> 
		   					<% if section.jenroll != nil %>
		   						<%= User.find_by(id:section.jenroll.user_id).name %> 
	   						<% elsif section.senroll != nil %>
	   							<%= User.find_by(id:section.senroll.user_id).name %> 
	   						<% end %>
		   				</td>
		   				<td> <%= enroll.attendances.count %> </td>
		   				<td> <btn class="btn btn-danger"> Drop </btn> </td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	  </div>
	  <div id="data8" class="tab-pane fade">
	   <table class="table">
		   	<thead>
		   		<th> Name </th>
		   		<th> Mentor </th>
		   		<th> Sections Attended </th>
		   		<th> Drop </th>
		   	</thead>
		   	<tbody>
				<% Section.where(course_id: 3).each do |section| %>
					<% section.enrolls.each do |enroll| %>
		   			<tr>
						<td>
							<%= User.find_by(id:enroll.user_id).name %>
						</td>
		   				<td> 
		   					<% if section.jenroll != nil %>
		   						<%= User.find_by(id:section.jenroll.user_id).name %> 
	   						<% elsif section.senroll != nil %>
	   							<%= User.find_by(id:section.senroll.user_id).name %> 
	   						<% end %>
		   				</td>
		   				<td> <%= enroll.attendances.count %> </td>
		   				<td> <btn class="btn btn-danger"> Drop </btn> </td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	  </div>
	</div>
</div>