<div class = "container">
    <h1>Manage Mentors</h1>
    <hr>
    <div style = "margin-top:10px">
        <b>Total mentors</b>: <%= @mentors.length %>
    </div>
    <div class = "sections">
      <table class="table">
        <thead>
          <tr>
            <th> Actions </th>
            <th> Mentors </th>
          </tr>
        </thead>
        <tbody>
            <% @mentors.each do |mentor| %>
                <tr class="mentor-list">
                <td class="col-md-2">
                <div>
                <a class="btn btn-success" data-toggle="collapse" href="#rostercollapse<%=mentor.id%>"  href="#" role="button"><i class="fa fa-list"></i></a> <a class="btn btn-warning"  data-toggle="collapse" href="#editcollapse<%=mentor.id%>"  role="button"><i class="fa fa-dashboard"></i></a>
                </div>
                <div style="margin-top:5px">
                
                <%= link_to '<span class="btn btn-info" href="#" role="button"><i class="fa fa-user"></i></span>'.html_safe, admin_edit_student_path(mentor), method: :get %>
                <%= link_to '<span style="padding-right:15px"class="btn btn-danger" href="#" role="button"><i class="fa fa-times"></i></span>'.html_safe, admin_destroy_user_path(mentor), method: :delete, data: { confirm: "Are you sure you want to delete #{mentor.name}?" } %>
                </div>
                </td>
                <td>
                <h4 style="">
                 <%= mentor.name %>
                 </h4>
                
                <%= mentor.email %>

                <%= form_tag admin_add_course_path(mentor) do %>
                <br />
                <div class="collapse" id="rostercollapse<%=mentor.id%>">
                    <% mentor.jenrolls.each do |enroll| %>
                        <% section = enroll.section %>
                        <% course = enroll.course %>
                        <div class = "roster">
                            <h5><b><%= course.course_name %> <%= section.name %> Students</b></h5>
                            <% if enroll.getStudents().size > 0 %>
                                <ul class="list-group">
                                <% enroll.getStudents().each do |student| %>
                                  <li class="list-group-item" style="width: 75%">
                                    <span class="badge"><%=student.email%></span>
                                    <%=student.name %>
                                  </li>
                                <% end %>
                                </ul>                                    
                            <% else %>
                                <h6>No Students</h6>
                            <% end %>
                        </div>
                    <% end %>
                    <% mentor.senrolls.each do |enroll| %>
                        <% section = enroll.section %>
                        <% course = enroll.course %>
                        <div class = "roster">
                            <h5><b><%= course.course_name %> <%= section.name %> Students</b></h5>
                            <% if enroll.getStudents().size > 0 %>
                                <ul class="list-group">
                                <% enroll.getStudents().each do |student| %>
                                  <li class="list-group-item" style="width: 75%">
                                    <span class="badge"><%=student.email%></span>
                                    <%=student.name %>
                                  </li>
                                <% end %>
                                </ul>                                    
                            <% else %>
                                <h6>No Students</h6>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
                </div>
                </div>
                <div class="collapse" id="editcollapse<%=mentor.id%>">
                    <%
                        senrolls = mentor.senrolls
                        jenrolls = mentor.jenrolls
                        courses_to_mentor_enrolls = Hash.new([])
                        jenrolls.each do |jenroll|
                            curr_class_name = Course.find(jenroll.course_id).course_name
                            courses_to_mentor_enrolls[curr_class_name] = courses_to_mentor_enrolls[curr_class_name] + [jenroll]
                        end
                        senrolls.each do |senroll|
                            curr_class_name = Course.find(senroll.course_id).course_name
                            courses_to_mentor_enrolls[curr_class_name] = courses_to_mentor_enrolls[curr_class_name] + [senroll]
                        end
                    %>
                    <% courses_to_mentor_enrolls.keys.sort.each do |course_name| %>
                      <div class="panel panel-primary" style="width: 80%">
                        <div class="panel-heading">
                          <h3 class="panel-title"><i class="fa fa-book"></i> <%= course_name %> 
                          </h3>

                        </div>
                        <div class="panel-body">
                          <% courses_to_mentor_enrolls[course_name].each do |enroll| %>
                            <% curr_section = Section.find(enroll.section_id) %>
                            <h4>  <%= link_to curr_section.name, section_path(curr_section) %></h4>
                            <ul class="list-unstyled">        
                            <li><b>Mentor:</b> <%= curr_section.getMentorName() %> (<%= mail_to curr_section.getMentorEmail() %>) </li>
                            <% if curr_section.temp_location == nil %>
                              <li><b>Location:</b> <%= curr_section.location %> </li>
                            <% elsif curr_section.temp_location == curr_section.location %>
                              <li><h4 style = "color:red;"><b>PERMANENT LOCATION:</b> <%= curr_section.location %></h4></li>
                            <% else %>
                              <li><h4 style = "color:red;"><b>TEMPORARY LOCATION:</b> <%= curr_section.temp_location %></h4></li>
                            <% end %>
                            <% if curr_section.temp_start == nil %>
                                <li><b>Time:</b> <%=curr_section.date %> <%= curr_section.start.strftime("%I:%M %p") %>-<%= curr_section.end.strftime("%I:%M %p") %> </li>
                            <% elsif curr_section.temp_start == curr_section.start and curr_section.temp_end == curr_section.end and curr_section.temp_date == curr_section.date %>
                                <li><h4 style = "color:red;"><b>PERMANENT TIME:</b> <%=curr_section.date %> <%= curr_section.start.strftime("%I:%M %p") %>-<%= curr_section.end.strftime("%I:%M %p") %></h4></li>
                            <% else %>
                                <li><h4 style = "color:red;"><b>TEMPORARY TIME:</b> <%=curr_section.temp_date %> <%= curr_section.temp_start.strftime("%I:%M %p") %>-<%= curr_section.temp_end.strftime("%I:%M %p") %></h4></li>
                            <% end %>
                            </ul>
                            <% badge_button = '<i class="fa fa-person"></i> '.html_safe + getPendingBadge(enroll).html_safe + ' View Attendance'%>       
                            <% if enroll.is_a?(Senroll) %>
                              <%= link_to badge_button.html_safe, senior_mentor_attendance_path(enroll), :class => "btn btn-info" %>
                              <%= link_to '<i class="fa fa-search"></i> View Roster'.html_safe, senroll_roster_path(enroll), :class => "btn btn-primary" %>  
                              <%= link_to '<i class="fa fa-exchange"></i> Switch Sections'.html_safe, senroll_switch_path(enroll.id), class: "btn btn-warning" %>
                              <%= link_to '<i class="fa fa-trash-o"></i> Drop Mentoring Section'.html_safe, enroll, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to stop mentoring #{curr_section.name}?"}%>
                              <%= link_to '<i class="fa fa-cog"></i> Mentor Settings'.html_safe, edit_senroll_path(enroll.id), class: "btn btn-success" %>
                            <% else %>
                              <%= link_to badge_button.html_safe, junior_mentor_attendance_path(enroll), :class => "btn btn-info" %>
                              <%= link_to '<i class="fa fa-search"></i> View Roster'.html_safe, jenroll_roster_path(enroll), :class => "btn btn-primary" %>
                              <%= link_to '<i class="fa fa-exchange"></i> Switch Sections'.html_safe, jenroll_switch_path(enroll.id), class: "btn btn-warning" %>
                              <%= link_to '<i class="fa fa-trash-o"></i> Drop Mentoring Section'.html_safe, enroll, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to stop mentoring #{curr_section.name}?"}%>
                              <%= link_to '<i class="fa fa-cog"></i> Mentor Settings'.html_safe, edit_jenroll_path(enroll.id), class: "btn btn-success" %>
                             <% end %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                </div>
                </td>
                </tr>  
            <% end %>
        </tbody>
        </table>
    </div>
</div>