<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <img src="http://i.imgur.com/CMg4rGP.jpg" style=" display: block;
  margin-left: auto;
  margin-right: auto;">
          <% if notice %>
            <div class="alert alert-info" style="margin-bottom:0" role="alert"><%= notice %></div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger" style="margin-bottom:0" role="alert"><%= alert %></div>
          <% end %>
      </div>
      <div class="modal-body">
        <h2>Change your password</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class = "form-group">
            <div class="field">
              <%= f.label :password, "New password" %><br />
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control input-lg" %>
            </div>
          </div>

          <div class = "form-group">
            <div class="field">
              <%= f.label :password_confirmation, "Confirm new password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", , :class => "form-control input-lg" %>
            </div>
          </div>


          <div class = "form-group">
            <div class="actions">
              <%= f.submit "Change my password", :class => "form-control" %>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <div class <div class="col-md-12">
        </div>
      </div> 
    </div>
  </div>
</div>

        

