<div id="loginModal" class="modal show" style="position:relative; overflow:auto;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <%= link_to (image_tag "new-csm-logo.png", class: "img-responsive"),  new_user_session_path%>
          <% if notice %>
            <div class="alert alert-info" style="margin-bottom:0" role="alert"><%= notice %></div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger" style="margin-bottom:0" role="alert"><%= alert %></div>
          <% end %>
      </div>
      <div class="modal-body">
        <h2>Change your password</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class = "form-group">
            <div class="field">
              <% if @minimum_password_length 
               @text = "(#{@minimum_password_length} characters minimum)"
             else
                @text = ""
               end %>
              <%= f.password_field :password, autocomplete: "off", placeholder: "New Password " + @text, :class => "form-control input-lg" %>
            </div>
          </div>

          <div class = "form-group">
            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "off" , placeholder: "Confirm new password", :class => "form-control input-lg" %>

            </div>
          </div>


          <div class = "form-group">
            <div class="actions">
              <%= f.submit "Change my password", :class => "btn btn-lg btn-block btn-warning" %>
            </div>          
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <div class <div class="col-md-12">
        </div>
      </div> 
    </div>
  </div>
</div>

        

