<div class="panel panel-default">
    <div class="panel-heading">Edit Section</div>
    <div class="panel-body">
    <%= form_for @section do |f|%>
<!--         <div class"form-group">
            <%= hidden_field_tag :id, @section.id %>
        </div> -->
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field(:name, class:"form-control") %> 
        </div>
        <div class="form-group">
            <%= f.label :start %>
            <%= f.time_field(:start, class:"form-control") %> 
        </div>
        <div class="form-group">
            <%= f.label :end %>
            <%= f.time_field(:end, class:"form-control") %> 
        </div>
        <div class="form-group">
            <%= f.label :date, "Day of the week" %>
            <%= f.text_field(:date, class:"form-control") %> 
        </div>
        <div class="form-group">
            <%= f.label :location %>
            <%= f.text_field(:location, class:"form-control") %> 
        </div>
        <div class="form-group">
            <%= f.label :limit %>
            <%= f.text_field(:limit, class:"form-control") %> 
        </div>

        <div class="form-group">
            <%= f.label :course_id, "Course" %>
            <%= f.select(:course_id, options_for_select(@courses, @e_course.course_name), class:"form-control") %>
        </div>

        <%= f.submit class: "btn btn-default" %>
        <% if @section.getMentor() != nil %>
            <% if @section.getMentor().is_a?(Senroll) %>
                <%= link_to '<i class="fa fa-cog"></i> Section Mentor Settings'.html_safe, edit_senroll_path(@section.getMentor().id), class: "btn btn-success" %>
            <% else %>
                <%= link_to '<i class="fa fa-cog"></i> Section Mentor Settings'.html_safe, edit_jenroll_path(@section.getMentor().id), class: "btn btn-success" %>
            <% end %>
        <% end %>
    <% end %>
    </div>
</div>