<h2>Settings</h2>
<div class="panel panel-default">
<div class="panel-heading">Update user</div>
<div class="panel-body">
<div class="form">
    <%= form_tag settings_path do %>
        <% @settings.each do |setting| %>
        <%= fields_for "setting[]", setting do |f| %>
            <div class="field form-group">
                <%= f.label setting.setting_name %>
                <% if setting.setting_type == 'boolean' %>
                    <%= f.check_box :value %>
                <% else %>
                    <%= f.text_field :value %>
                <%end%>
            </div>
            
            <% end %>
    
        <% end %>
        <%= submit_tag "Save", class: "btn btn-success" %>
    <% end %>
</div>

</div>
</div>

