<h2>Settings</h2>
<div class="panel panel-default">
<div class="panel-heading">Update user</div>
<div class="panel-body">
<div class="form">
    <%= form_tag settings_path do %>
        <% @settings.each do |setting| %>
        <%= fields_for "setting[]", setting do |f| %>
            <div class="field form-group">
                <%= f.label setting.setting_name %>
                <% if setting.setting_type == 'boolean' %>
                    <%= f.check_box :value %>
                <% else %>
                    <%= f.text_field :value %>
                <% end %>
                <% if setting.name == "announcement" %>
                    <%= link_to "Edit announcement " " <i class='fa fa-pencil'></i>".html_safe, announcement_edit_path %>
                <% end %>
            </div>
            
            <% end %>
    
        <% end %>
        <%= submit_tag "Save", class: "btn btn-success" %>
    <% end %>
</div>
<div>
<br >
<%= link_to "Send Email", admin_send_email_path, method: :post, class:"btn btn-danger", data: {confirm:"Are you sure? Remember this operation takes a while so DON'T CLICK IT TWICE"} %>
</div>
     
</div>
</div>

