<div class="home">
  <h2><i class="fa fa-tachometer"></i> Mentor Dashboard</h2>
  <div class = "switch-sections">
  <% if @jenrolls.size > 0 or @senrolls.size > 0%>
    <!-- senior mentor sections-->
      <% if @senrolls.size > 0 %>
        <h4>Senior Mentor Sections</h4>
      <% end %>
      <% @classes_to_senrolls.keys.each do |course_name| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-book"></i> <%= course_name %> 
          </h3>

        </div>
        <div class="panel-body">
          <% @classes_to_senrolls[course_name].each do |enroll| %>
          <% curr_section = Section.find(enroll.section_id) %>
          <h4>  <%= link_to curr_section.name, section_path(curr_section) %></h4>
          <ul class="list-unstyled">        
          <li><b>Mentor:</b> <%= curr_section.getMentorName() %> (<%= mail_to curr_section.getMentorEmail() %>) </li>
          <li><b>Location:</b> <%= curr_section.location %> </li>
          <li><b>Time:</b> <%=curr_section.date %> <%= curr_section.start.strftime("%I:%M %p") %>-<%= curr_section.end.strftime("%I:%M %p") %> </li>
          </ul>
          <%= link_to '<i class="fa fa-search"></i> View Roster'.html_safe, senroll_roster_path(enroll), :class => "btn btn-primary" %>
          <%= link_to '<i class="fa fa-exchange"></i> Switch Sections'.html_safe, senroll_switch_path(enroll.id), class: "btn btn-warning" %>
          <%= link_to '<i class="fa fa-trash-o"></i> Drop Mentoring Section'.html_safe, enroll, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to stop mentoring #{curr_section.name}?"}%>
           <% end %>
        </div>
      </div>
      <% end %>
    <!-- junior mentor sections-->
      <% if @jenrolls.size > 0 %>
        <h4>Junior Mentor Sections</h4>
      <% end %>
      <% @classes_to_jenrolls.keys.each do |course_name| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-book"></i> <%= course_name %> 
          </h3>

        </div>
        <div class="panel-body">
          <% @classes_to_jenrolls[course_name].each do |enroll| %>
          <% curr_section = Section.find(enroll.section_id) %>
          <h4>  <%= link_to curr_section.name, section_path(curr_section) %></h4>
          <ul class="list-unstyled">        
          <li><b>Mentor:</b> <%= curr_section.getMentorName() %> (<%= mail_to curr_section.getMentorEmail() %>) </li>
          <% if curr_section.temp_location == nil %>
            <li><b>Location:</b> <%= curr_section.location %> </li>
          <% elsif curr_section.temp_location == curr_section.location %>
            <li><h4 style = "color:red;"><b>PERMANENT LOCATION:</b> <%= curr_section.location %></h4></li>
          <% else %>
            <li><h4 style = "color:red;"><b>TEMPORARY LOCATION:</b> <%= curr_section.temp_location %></h4></li>
          <% end %>
          <% if curr_section.temp_start == nil %>
              <li><b>Time:</b> <%=curr_section.date %> <%= curr_section.start.strftime("%I:%M %p") %>-<%= curr_section.end.strftime("%I:%M %p") %> </li>
          <% elsif curr_section.temp_start == curr_section.start and curr_section.temp_end == curr_section.end and curr_section.temp_date == curr_section.date %>
              <li><h4 style = "color:red;"><b>PERMANENT TIME:</b> <%=curr_section.date %> <%= curr_section.start.strftime("%I:%M %p") %>-<%= curr_section.end.strftime("%I:%M %p") %></h4></li>
          <% else %>
              <li><h4 style = "color:red;"><b>TEMPORARY TIME:</b> <%=curr_section.temp_date %> <%= curr_section.temp_start.strftime("%I:%M %p") %>-<%= curr_section.temp_end.strftime("%I:%M %p") %></h4></li>
          <% end %>
          </ul>
          <%= link_to '<i class="fa fa-search"></i> View Roster'.html_safe, jenroll_roster_path(enroll), :class => "btn btn-primary" %>
          <%= link_to '<i class="fa fa-exchange"></i> Switch Sections'.html_safe, jenroll_switch_path(enroll.id), class: "btn btn-warning" %>
          <%= link_to '<i class="fa fa-trash-o"></i> Drop Mentoring Section'.html_safe, enroll, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to stop mentoring #{curr_section.name}?"}%>
          <%= link_to '<i class="fa fa-cog"></i> Mentor Settings'.html_safe, edit_jenroll_path(enroll.id), class: "btn btn-success" %>
          <%= link_to '<i class="fa fa-person"></i> View Attendance'.html_safe, junior_mentor_attendance_path(enroll), :class => "btn btn-info" %>
           <% end %>
        </div>
      </div>
      <% end %>
  <% else %>
  <% end %>  

  </div>
</div>