<% if @enrolls.size + @jenrolls.size + @senrolls.size > 0 %>
  <div class = "enroll" style = "padding-top: 5px">
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus"></i> Enroll
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Enroll As Student'.html_safe, new_enrollment_path%></li>
        <li><%= link_to 'Enroll As Mentor'.html_safe, new_jenroll_path%></li>
      </ul>
    </div>
  </div>
  <%if @show_tabs %>
  <ul class="nav nav-tabs nav-justified" style = "padding-top: 20px">
    <li class="active"><a data-toggle="tab" href="#student-dashboard"><i class="fa fa-graduation-cap"></i> Student Dashboard</a></li>
    <li><a data-toggle="tab" href="#mentor-dashboard"><i class = "fa fa-university"></i> Mentor Dashboard</a></li>
  </ul>
  <% end %>
  <% if @show_tabs %>
  <div class="tab-content"> <!-- tab content-->
    <div id="student-dashboard" class="tab-pane fade in active"> <!-- student dashboard -->
  <% end %>
    <!-- student side -->
    <% if @enrolls.size > 0 %>
      <%= render "student_side" %>
    <% end %>
    <% if @show_tabs %>
    </div> <!-- end student dashboard -->
    <div id="mentor-dashboard" class="tab-pane fade"> <!-- mentor dashboard -->
    <% end %>
      <% if @jenrolls.size + @senrolls.size > 0 %>
        <!-- mentor side -->
        <%= render "mentor_side" %>
      <% end %>
  <% if @show_tabs %>
    </div> <!-- end mentor dashboard -->
  </div> <!-- end tab content-->
  <% end %>
<% else %>
  <%= render "welcome_page" %>
<% end %>





