<div class="home">
  <h3> This is the home page! </h3>
  <%= link_to "View Courses", "/courses" %>
  <br>
  <%= link_to "View Sections", "/sections" %>
  <br />
  <% if current_user.admin %>
  <%= link_to "Admin Settings", settings_path %>
  <% end %>
  <div class = "switch-sections">
  	<% @enrolls.each do |enroll| %>
  		<% curr_section = Section.find(enroll.section_id) %>
  		<% curr_course = Course.find(enroll.course_id) %>
  		<h4><%= curr_course.course_name %></h4>
      <h5>Current Section: <%= curr_section.name %></h5>
  		<%= link_to "Switch Section", switch_section_path(enroll) %>
  	<% end %>
  </div>
</div>  
