<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <img src="http://i.imgur.com/CMg4rGP.jpg" style=" display: block;
    margin-left: auto;
    margin-right: auto;">
            <% if notice %>
              <div class="alert alert-info" style="margin-bottom:0" role="alert"><%= notice %></div>
            <% end %>
            <% if alert %>
              <div class="alert alert-danger" style="margin-bottom:0" role="alert"><%= alert %></div>
            <% end %>
        </div>
        <div class="modal-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form center-block"}) do |f| %>
              
                <div class = "form-group">
                  <div class="field">
                    <%= f.email_field :email, autofocus: true, placeholder: "Email", :class => "form-control input-lg" %>
                  </div>
                </div>
                
               
                <div class = "form-group">
                  <div class="field">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :class => "form-control input-lg" %>
                  </div>
                </div>
                <% if devise_mapping.rememberable? -%>
                  <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>
                <div class = "form-group">
                  <div class="actions">
                    <%= f.submit "Log in", :class => "btn btn-primary btn-lg btn-block" %>
                    <h4>Don't have an account?</h4>
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
            <% end %>
        </div>
        <div class="modal-footer">
           <div class <div class="col-md-12">
            </div>  
        </div>
    </div>
  </div>
</div>