<% comments.each do |comment|%>
	<div class = "media" style = "border: #ccc solid 1px; padding: 5px; border-radius: 3px;">
		<div class="pull-right">
			<%= image_tag "anon_user.png", :style => "width: 36px; height: 36px;"%>
		</div>
		<div class="media-body">
			<h4 class="media-heading"><%= User.find(comment.user_id).name %><br><small><%= comment.created_at.strftime("%I:%M:%S %p on %b. %d, %Y") %></small></h4>
		    <%= comment.body %>
		    <% if current_user.id == comment.user_id %>
				<%= button_to "Delete", delete_comment_path(comment), method: :delete, :remote => true %>
			<% end %>
		</div>
	</div>
<% end %>		
