<div class = "row" style = "padding-top: 50px">
	<div class = "col-md-12">
		<div class="panel panel-default">
		    <div class="panel-heading">Offer For Section <%= @section.name %></div>
		    <div class="panel-body">
		    <%= form_for @new_offer do |f|%>
		        <div class="form-group">
		        <label>Which Sections Are Okay To Switch With?</label>
		        <% @other_sections.each do |section| %>
					<label class = "checkbox-inline" ><%= check_box_tag 'section_ids[]', section.id %><%= section.name %></label>
				<% end %>
		        </div>
		        <div class="form-group">
		        <label>Anything to add?</label>
		        <%= f.text_area :body, :class => "form-control", :rows => 5 %>
		        </div>
		        <%= f.hidden_field :enroll_id, :value => @enrollment.id %>
		        <div class = "actions">
					<%= f.submit "Create Offer", class: "btn btn-default" %>
				</div>
		    <% end %>
		    </div>
		</div>
	</div>
</div>
