<div class = "container">
	<div class = "header">
		<h1>Offer For <%=  @section.name %></h1>
		<i>
			<h5>Wants:</h5> 
			|<% @wanted_sections.each do |section| %>
				<%= section.name %> | 
			<% end %>
		</i>
	</div>

	<h2>Additional Info</h2>
	<div class = "body">
		<%= @offer.body %>
	</div>
	<div class = "row">
		<div class = "col-sm-6 col-xs-12" id = "add-response">
			<%= render partial: "add_response.html", locals: {offer: @offer} %>
		</div>
	</div>
	<div class = "row">
		<h2 class = "col-sm-6 col-xs-12" >Comments</h2>
		<h2 class = "col-sm-6 col-xs-12" >Replies</h2>
	</div>
	<hr>
	<div class = "row">
		<div class = "col-sm-6 col-xs-12" id = "comments">
			<%= render partial: "comments_section.html", locals: {comments: @comments}%>
		</div>
		<div class = "col-sm-6 col-xs-12" id = "replies">
			<%= render partial: "replies_section.html", locals: {replies: @replies}%>
		</div>
	</div>
</div>