<div class="panel panel-default">
    <div class="panel-heading">Update Course</div>
    <div class="panel-body">
    <%= form_for @course do |f|%>
        <div class="form-group">
        <%= f.label :course_name %>
        <%= f.text_field(:course_name, class:"form-control") %> 
        </div>
        <div class="form-group">
        <%= f.label :password %>
        <%= f.text_field(:password, class:"form-control") %> 
        </div>
        <div class="form-group">
        <%= f.label :semester %>
        <%= f.text_field(:semester, class:"form-control") %> 
        </div>
        <div class="form-group">
        <%= f.label :instructor %>
        <%= f.text_field(:instructor, class:"form-control") %> 
        </div>
        <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field(:description, class:"form-control") %> 
        </div>
        <div class="form-group">
        <%= f.label :year %>
        <%= f.number_field(:year, class:"form-control") %> 
        </div>

        <%= f.submit class: "btn btn-default" %>
    <% end %>
    </div>
</div>