<h1>Your Courses </h1>
<hr>
<div class = "courses">
	<% @courses.each do |course| %>
		<div class = "col-xs-12" style = "padding-top:10px">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= course.course_name %></h3>
          </div>
          <div class="panel-body">
            <h3 style="margin-top:0">Term</h3>
            <%= course.semester %> <%= course.year %>
            <h3 >Instructor</h3>
             <%= course.instructor %>
            <h3>Course Description</h3>
             <%= course.description %>
            <h3>Current Enrollment</h3>
             <%= course.enrolls.length %> <%= "person".pluralize(course.enrolls.length) %>
          </div>
        </div>
		</div>
	<% end %>
</div>
