<div class = "col-xs-12" style = "padding-top:10px">
	<div class="panel panel-success">
	  <div class="panel-heading">
	    <h1><%= @course.course_name %> <%= @course.semester %> <%= @course.year %></h1>
	  </div>
	  <div class="panel-body">
	  	<p><b>Instructor:</b> <%= @course.instructor %></p>
	  	<p><b>Course Description:</b> <%= @course.description %></p>
	  	<p><b>Current Enrollment:</b> <%= @number_of_people %></p>
	  </div>
	</div>
</div>