	<div class="panel panel-primary" style="margin-top:20px;">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= @course.course_name %> <%= @course.semester %> <%= @course.year %></h3>
	  </div>
	  <div class="panel-body">
	  	<h3 style="margin-top:0">Instructor</h3>
	  	 <%= @course.instructor %>
	  	<h3>Course Description</h3>
	  	 <%= @course.description %>
	  	<h3>Current Enrollment</h3>
	  	 <%= @number_of_people %> <%= "person".pluralize(@number_of_people) %>
	  </div>
	</div>