<!DOCTYPE html>
<html>
<head>
  <title>Scheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <% if not current_user %> style="background-size:cover; background-image:url(<%= asset_path 'soda_hall.jpg'%>)"<%end%>>

  <% if false %>
    <nav class="navbar navbar-default navbar-fixed-top">
        <a class="navbar-brand"> <%= link_to (image_tag "csm_logo.jpg", :style => "width: 100px; height: 50px;"), root_path %> </a>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <%= link_to current_user.name, root_path %> </li>
            <li> <%= link_to "Edit account", edit_user_registration_path %> </li>
            <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
          </ul>
        </li>
      </ul>
    </nav>
  <% end %>

    <div class="row main-container">
      <% if current_user %>
      <div class="col-md-2 sidebar-container">
      <div class="sidebar-logo">
        <%= image_tag "new-csm-logo.png"%>
      </div>
      <div class="sidebar">
        <ul class="nav nav-pills nav-stacked">
          <%= nav_link '<i class="fa fa-home"></i> Home'.html_safe, root_path%>
        <% if current_user.enrolls.size + current_user.jenrolls.size + current_user.senrolls.size > 0 %>
          <%= nav_link '<i class="fa fa-users"></i> Sections'.html_safe, sections_path %>
          <%= nav_link '<i class="fa fa-book"></i> Courses'.html_safe, courses_path %>
          <%= nav_link '<i class="fa fa-user"></i> Attendance'.html_safe, student_attendance_index_path %>
        <% end %>
        </ul>
        <% if current_user and current_user.admin %>
        <h4>Admin Settings</h4>
        <hr />
        <ul class="nav nav-pills nav-stacked">
        <%= nav_link "Settings", settings_path %>
        <%= nav_link "Manage Sections", manage_sections_path %>
        <%= nav_link "Manage Students", students_index_path %>
        <%= nav_link "Manage Courses", admin_course_index_path %>
        </ul>
        <% end %>
        <% if current_user %>
        <h4>Account</h4>
        <hr />
        <ul class="nav nav-pills nav-stacked">
         <%= nav_link '<i class="fa fa-user"></i> '.html_safe + current_user.name, edit_user_registration_path %> 
         
          <li> <%= link_to '<i class="fa fa-sign-out"></i> Sign out'.html_safe, destroy_user_session_path, :method => :delete %> </li>
 
        </ul>
        <% end %>
        </div>
      </div>
      <div class="col-md-9">
        <% if notice %>
          <div class="alert alert-info" role="alert"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>
      <%= yield %>
     </div>
     <% else %>
      <div class="col-md-12">

      <%= yield %>
     </div>
     <% end %>
    </div>
  

</body>
</html>
